<div class="row">
    <!-- Column -->
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="card-title">Market Price Forecast</h4>
                        <h5 class="card-subtitle">Overview of Latest 3 Month</h5>
                    </div>
                </div>
                <div id="product-sales" style="height:305px"></div>
            </div>
        </div>
    </div>
</div>
