<div class="row">
  <div class="card">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/images/image3.jpg" alt="Card image cap" style="width:100%; height: 550px">
        <div class="carousel-caption">
          <h3 class="text-white font-bold">AgroBuddy</h3>
          <p>Predict the best crop using ........</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/image1.jpg" alt="Card image cap" style="width:100%; height: 550px">
        <div class="carousel-caption">
          <h3 class="text-white font-bold">Weather</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/image2.jpg" alt="Card image cap" style="width:100%; height: 550px">
        <div class="carousel-caption">
          <h3 class="text-white font-bold">Market Price</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div class="row">
  <div class="card">
  </div>
</div>
<div [style.display]="fullPage ? 'block' : 'none'">
  <div class="row" >
    <div class="col-lg-6">
      <div class="card" >
        <div class="card-body">
          <div [style.display]="plantDetails ? 'block' : 'none'">
            <h3>Best Plant is </h3>
            <h1 style="text-align: center; color:lawngreen;" >{{bestPlant}}</h1>
          </div>
          <img [style.display]="loaderGif ? 'block' : 'none'" src="assets/images/plantFinder.gif">
          <form [style.display]="formContentDisplayStatus ? 'block' : 'none'" class="form-horizontal m-t-30" #predict="ngForm">
            <div class="form-group">
              <label>Location</label>
              <select class="form-control" [(ngModel)]="location" placeholder="Location" required=" " name="location">
                <option value="Monaragala" selected="selected">Monaragala</option>
                <option disabled>Kandy</option>
                <option disabled>Jaffna</option>
                <option disabled>Ampara</option>
              </select>
              <div *ngIf="true"><span>Location is required</span></div>
            </div>
            <p><b>Assume that you start farming from today*</b></p>
            <div class="action-form">
              <div class="form-group m-b-0 text-right">
                <button type="submit" class="btn btn-info waves-effect waves-light" (click)="onSubmitBestCrop(predict.value)">Find Best Crop</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Your Cultivated Area</h4>
          <h6 class="card-subtitle">Area that you have cultivated different crops</h6>
          <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="[{backgroundColor: ['#c9f76e', '#6b2e6b', '#b8e0b8','#ec9513', '#2dd22d' ]}]">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div [style.display]="plantDetails ? 'block' : 'none'">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Crop Point Details</h3>
            <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-6">
                <p>Each crop has received points based on predictions on each categories.
                  You can decide which crop to chose to plant based on given points.  </p>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h3 class="box-title m-t-40">Total Points Each Crop Received</h3>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                    <tr>
                      <td>Total points Ash Plantain received</td>
                      <td> {{ashPlantainPoints}} %</td>
                    </tr>
                    <tr>
                      <td>Total points Brinjals received</td>
                      <td> {{brinjalPoints}} %</td>
                    </tr>
                    <tr>
                      <td>Total points Cucumber received</td>
                      <td> {{cucumberPoints}} %</td>
                    </tr>
                    <tr>
                      <td>Total points Ladies Fingers received</td>
                      <td> {{ladiesFingerPoints}} %</td>
                    </tr>
                    <tr>
                      <td>Total points Red Pumpkin received</td>
                      <td> {{redPumpkinPoints}} %</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h3 class="box-title m-t-40">Crop Status Based On Categories</h3>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                    <tr>
                      <td>Highest Points On Market Price</td>
                      <td> {{marketPriceHighestPoints}} </td>
                    </tr>
                    <tr>
                      <td>Best Plant On Market Price</td>
                      <td> {{marketPriceBestPlant}} </td>
                    </tr>
                    <tr>
                      <td>Highest Points On Temperature</td>
                      <td> {{temperatureHighestPoints}} </td>
                    </tr>
                    <tr>
                      <td>Best Plant On Temperature</td>
                      <td> {{temperatureBestPlant}} </td>
                    </tr>
                    <tr>
                      <td>Highest Points On Rainfall</td>
                      <td> {{rainfallHighestPoints}} </td>
                    </tr>
                    <tr>
                      <td>Best Plant On Rainfall</td>
                      <td> {{rainfallBestPlant}} </td>
                    </tr>
                    <tr>
                      <td>Highest Points On Cultivated Area </td>
                      <td> {{cultivatedAreaHighest}} </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-form">
        <div class="form-group m-b-0 text-right" mr-2>
          <button type="submit" class="btn btn-info waves-effect waves-light" (click)="choosePlant()">Choose to plant</button><p>  </p>
          <button type="button" class="btn btn-secondary waves-effect waves-light" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div [style.display]="confirmation ? 'block' : 'none'">
  <div class="row">
    <div class="col-lg-6">
      <div class="card" >
        <div class="card-body">
          <form class="form-horizontal m-t-30" #confirmationPlant="ngForm">
            <div class="form-group">
              <label>Plant Name</label>
              <select class="form-control" [(ngModel)]="plant" required=" " if="plant" placeholder="Plant Name" name="plant" ngModel required>
                <option value="AshPlantain">Ash Plaintain</option>
                <option value="Brinjal">Brinjal</option>
                <option value="Cucumber">Cucumber</option>
                <option value="LadiesFingers">Ladies Fingers</option>
                <option value="Pumpkin">Pumpkin</option>
              </select>
              <div *ngIf="plantEmpty"><span>Plant Name is required</span></div>
            </div>
            <div class="form-group">
              <label>Area</label>
              <input class="form-control" [(ngModel)]="areaqty" type="text" required=" " if="areaqty" placeholder="Area in achers" name="areaqty" ngModel required>
              <div *ngIf="areaEmpty"><span>Area is required</span></div>
            </div>
            <div class="action-form">
              <div class="form-group m-b-0 text-right"  mr-2>
                <button type="submit" class="btn btn-info waves-effect waves-light" (click)="onSubmitConfirm(confirmationPlant.value)">Confirm Crop</button> <p>  </p>
                <button type="submit" class="btn btn-secondary waves-effect waves-light" (click)="back()">Back</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Your Cultivated Area</h4>
          <h6 class="card-subtitle">Area that you have cultivated different crops</h6>
          <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="[{backgroundColor: ['#b8e0b8', '#6b2e6b', '#c9f76e','#2dd22d', '#ec9513' ]}]">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

