
<div class="parallax">

</div>

<div class="container">

    <h2 >TEAM AGROBUDDY</h2>
    <p >We are a group of 6 undergraduate students, following the BEng(Hons.) in Software Engineering programme at the 
        Informatics Institute of Technology, affiliated with University of Westminster, UK.
         This research project is being undertaken as a part of our level 5 Software Development Group Project.</p>
    <br>
    
    <div class="containerr">
        
        <!-- box 1 -->
        <div class="box">
            <div class="heading">
                <img src="assets/images/v2.png" alt="Venura Pallawela" />
                <br/>
                <h3>Venura Pallawela</h3>
                <!-- <p>hwf uhfi wiufhiuwe ihwuihi whwi whu ch hwdh cni</p> -->
            </div>
        </div>

        <!-- box 2 -->
        <div class="box">
            <div class="heading">
                <img src="assets/images/s1.jpg" alt="Sasanka Withanage" />
                <br/>
                <h3>Sasanka Withanage</h3>
                <!-- <p>hwf uhfi wiufhiuwe ihwuihi whwi whu ch hwdh cni</p> -->
            </div>
        </div>

        <!-- box 3 -->
        <div class="box">
            <div class="heading">
                <img src="assets/images/t2.jpg" alt="Thimudu Wikramasinghe" />
                <br/>
                <h3>Thimudu Wikramasinghe</h3>
                <!-- <p>hwf uhfi wiufhiuwe ihwuihi whwi whu ch hwdh cni</p> -->
            </div>
        </div>

        <!-- box 4 -->
        <div class="box">
            <div class="heading">
                <img src="assets/images/ss.jpg" alt="Sachintha Amarasiri" />
                <br/>
                <h3>Sachintha Amarasiri</h3>
                <!-- <p>hwf uhfi wiufhiuwe ihwuihi whwi whu ch hwdh cni</p> -->
            </div>
        </div>

        <!-- box 5 -->
        <div class="box">
            <div class="heading">
                <img src="assets/images/ns1.jpg" alt="Savini Athaudage" />
                <br/>
                <h3>Savini Athaudage</h3>
                <!-- <p>hwf uhfi wiufhiuwe ihwuihi whwi whu ch hwdh cni</p> -->
            </div>
        </div>

        <!-- box 6 -->
        <div class="box">
            <div class="heading">
                <img src="assets/images/a3.jpg" alt="Anjali wijesooriya" />
                <br/>
                <h3>Anjali Wijesooriya</h3>
                <!-- <p>hwf uhfi wiufhiuwe ihwuihi whwi whu ch hwdh cni</p> -->
            </div>
        </div>
    </div>
</div>

  
