<div class="wrapper fadeInDown">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div id="formContent">
  <!-- Icon -->
  <img [style.opacity]="loader ? '1' : '0'" class="loaderInRegister" src="assets/loader/loader.gif">
  <div class="fadeIn first">
    <h3><i class="fa fa-home"></i> <b> Address Details</b></h3>
  </div>

  <!-- Login Form -->

    <div [style.display]="signUpPart1 ? 'block' : 'none'">
      <input type="text" id="fName" class="fadeIn second" placeholder="First Name">
      <input type="text" id="lName" class="fadeIn second" placeholder="Last Name">
      <input type="date" id="dob" class="fadeIn third" placeholder="Date Of Birth">
      <input type="text" id="nic" class="fadeIn third" placeholder="NIC Number">
      <input type="email" id="email" class="fadeIn third" placeholder="Email">
      <button (click)="firstBack()" >Back</button>
      <button (click)="firstChange()" >Next</button>
    </div>
    <div [style.display]="signUpPart2 ? 'block' : 'none'">
      <input type="text" id="username" class="fadeIn second" placeholder="UserName">
      <input type="password" id="password" class="fadeIn second" placeholder="Password">
      <input type="password" id="rePassword" class="fadeIn second" placeholder="Re-Type Password">
      <button (click)="secondBack()" >Back</button>
      <button (click)="secondChange()" >Next</button>
    </div>
    <div [style.display]="signUpPart3 ? 'block' : 'none'">
      <input type="text" id="No"      class="fadeIn second"  placeholder="No">
      <input type="text" id="street1" class="fadeIn second"  placeholder="street1">
      <input type="text" id="street2" class="fadeIn third"    placeholder="street2">
      <input type="text" id="city"    class="fadeIn third"    placeholder="city">
      <button (click)="thirdBack()" >Back</button>
      <button (click)="thirdChange()" >Next</button>
    </div>
    <div [style.display]="signUpPart4 ? 'block' : 'none'">
      <input type="text" id="telephone"      class="fadeIn second"  placeholder="Telephone Number">
      <input type="text" id="phone" class="fadeIn second"  placeholder="Phone Number">
      <button (click)="fourthBack()" >Back</button>
      <button (click)="createAccount()" >Next</button>
    </div>


</div>
</div>
