<div class="wrapper fadeInDown">
<div id="formContent">
  <!-- Tabs Titles -->
  <h2 class="active">Register Form - 2 </h2>


  <!-- Icon -->
  <div class="fadeIn first">
    <img src="images/user1.jpg" id="icon" alt="User Icon" />
  </div>

  <!-- Login Form -->
  <form>
    <label class="lb">Address</label><input type="text" id="No" class="fadeIn second" name="No" placeholder="No">
    <input type="text" id="street1" class="fadeIn second" name="street1" placeholder="street1">
    <input type="text" id="street2" class="fadeIn third" name="street2" placeholder="street2">
    <input type="text" id="city" class="fadeIn third" name="city" placeholder="city">
    <label class="lb">Phone Number</label><input type="text" id="phone" class="fadeIn third1" name="phone" placeholder="phone number field">
    <label class="lb">Telephone Number</label><input type="text" id="tel" class="fadeIn third2" name="tel" placeholder="Telephone number field">
    <input type="submit" class="fadeIn fourth" id="btn" value="Register">
    <input type="submit" class="fadeIn fourth" value="Back">
  </form>




</div>
</div>
