<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title" style="text-transform: capitalize;">{{variable}} Prediction</h4>
                <h5 class="card-subtitle">Overview of Top Selling Items</h5>
            </div>

        </div>
        <!-- title -->
    </div>
  <div>
    <select  class="btn btn-success" [(ngModel)]="selectedOption" (change)="setModelData(variable,this.selectedOption)">
      <option   [value]="status_item" *ngFor="let status_item of status_values" >
        {{status_item}}
      </option>
    </select>

  </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Models</th>
                    <th class="border-top-0">Model Id</th>
                    <th class="border-top-0">Accuracy {{noteMessage}}</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">

                            <div class="">
                                <h4 class="m-b-0 font-16">ARIMA</h4>
                            </div>
                        </div>
                    </td>
                    <td>{{this.id}}</td>

                  <td>{{this.ARIMAmodel}}</td>
                  <td>

                  </td>


                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="">
                        <h4 class="m-b-0 font-16">ARMA</h4>
                      </div>
                    </div>
                  </td>
                  <td>{{this.id}}</td>
                  <td>{{this.ARMAmodel}}</td>
                  <td>

                  </td>

                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">

                            <div class="">
                                <h4 class="m-b-0 font-16">SARIMA</h4>
                            </div>
                        </div>
                    </td>
                    <td>{{this.id}}</td>
                    <td>{{this.SARIMAmodel}}</td>
                    <td>

                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <h4 class="m-b-0 font-16">RNN</h4>
                            </div>
                        </div>
                    </td>
                    <td>{{this.id}}</td>
                    <td>{{this.RNNmodel}}</td>
                    <td>

                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <h4 class="m-b-0 font-16">AR</h4>
                            </div>
                        </div>
                    </td>
                    <td>{{this.id}}</td>
                    <td>{{this.ARmodel}}</td>
                    <td>

                    </td>

                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">

                      <div class="">
                        <h4 class="m-b-0 font-16">VAR</h4>
                      </div>
                    </div>
                  </td>
                  <td>{{this.id}}</td>

                  <td>{{this.VARmodel}}</td>
                  <td>

                  </td>


                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">

                      <div class="">
                        <h4 class="m-b-0 font-16">AUTOARIMA</h4>
                      </div>
                    </div>
                  </td>
                  <td>{{this.id}}</td>

                  <td>{{this.AUTOARIMA}}</td>
                  <td>

                  </td>


                </tr>
            </tbody>
        </table>
    </div>
</div>
