
  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
    <div class="auth-box" style="border-radius:20px; ">
      <div id="loginform">
        <div class="logo">
          <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
          <h5 class="font-medium m-b-20">Reset Password</h5>
        </div>
        <!-- Form -->
        <div class="row">
          <div class="col-12">
            <form #loginForm3 = "ngForm" (ngSubmit)="onSubmitNewPassword(this.loginForm3.value)">
              <div><span style="color: red;">{{errorMessage}}</span></div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="password" type="password" required=" " if="pass" placeholder="Password" name="password" ngModel required>
                  <div *ngIf="passwordEmpty"><span>Password is required!</span></div>
                  <div *ngIf="passwordError"><span>Please enter at least 8 characters</span></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="confirm" type="password" required=" " if="repass" placeholder="Re-type Password" name="repass" ngModel required>
                  <div *ngIf="confirmEmpty"><span>Please re enter your password!</span></div>
                  <div *ngIf="doesnotsuitEmpty"><span>Invalid password.Try again!</span></div>
                </div>
              </div>

              <div class="form-group text-center">
                <div class="col-xs-12 p-b-20">
                  <button class="btn btn-block btn-lg btn-info " >Submit</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

