<div [style.display]="part1 ? 'block' : 'none'">
<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{cropName}} Plant</h3>
                <h6 class="card-subtitle"></h6>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="white-box text-center">
                            <img src="assets/images/gallery/{{cropImage}}" class="img-responsive"> </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6">
                        <h4 class="box-title m-t-40">Crop description</h4>
                        <p>{{cropDescription}}</p>



                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title m-t-40">General Info</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="390">Crop Id</td>
                                        <td> {{cropId}} </td>
                                    </tr>
                                    <tr>
                                        <td>Crop Name</td>
                                        <td> {{cropName}} </td>
                                    </tr>
                                    <tr>
                                        <td>Scientific Name</td>
                                        <td> {{scientificName}} </td>
                                    </tr>
                                    <tr>
                                        <td>Nutrition</td>
                                        <td> {{nutrition}}</td>
                                    </tr>
                                    <tr>
                                        <td>Cultivated Area</td>
                                        <td> {{cultivatedArea}} </td>
                                    </tr>
                                    <tr>
                                        <td>Temperature</td>
                                        <td> {{temperature}}</td>
                                    </tr>
                                    <tr>
                                        <td>Duration of Plant</td>
                                        <td> {{duration}} </td>
                                    </tr>
                                    <tr>
                                        <td>Percentage of cultivated area</td>
                                        <td> {{percentage}} </td>
                                    </tr>

                                    <tr>
                                      <div class="row">
                                      <div class="custom-control custom-checkbox">
                                        <button id="remove" (click)="updateDetails()" type="button" class="btn btn-primary">Update Plant</button>
                                      </div>

                                        <div class="custom-control custom-checkbox">
                                          <button type="button" class="btn btn-success" id="remove" (click)="deleteDetails(cropId)">Delete Plant</button>
                                        </div>
                                      </div>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!----------------------------Diseases------------------------------------------------------------->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Diseases of Plant</h4>
        </div>
        <div class="col-lg-12 col-xlg-6">
          <div class="card">
            <div class="card-body">
              <div class="button-group">
                <button type="button" class="btn btn-rounded btn-info" id="remove" (click)="addDiseaseDetails()">Add Disease</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive m-t-40">
          <table class="table stylish-table">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Image</th>
              <th>ID</th>
              <th>Disease Name</th>
              <th>Disease Scientific Name</th>
              <th>Disease Symptoms</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let disease of diseases">
              <td>
                <div class="custom-control custom-checkbox">
                  <button type="button" class="btn btn-success btn-circle" id="remove" (click)="updateDisease(disease.disease_id)"><i class="sl-icon-pencil"></i> </button>
                </div>
              </td>
              <td>
                <div class="custom-control custom-checkbox">
                  <button type="button" class="btn btn-secondary btn-circle" id="remove" (click)="deleteDiseaseRow(disease.disease_id)"><i class="fa fa-times"></i> </button>
                </div>
              </td>
              <td>
                <h6>{{disease_image}}</h6>
              </td>
              <td>{{disease_id}}</td>
              <td>{{disease_name}}</td>
              <td>{{disease_Scientific_name}}</td>
              <td>{{disease_symptoms}}<td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

    <!-- Column -->
</div>
</div>
<div [style.display]="part2 ? 'block' : 'none'">
  <h4 >Update Plant Details</h4>


  <hr class="m-t-0">
  <form  #loginForm="ngForm">

    <h4 >Personal Info</h4>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Crop Id</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="cropId"  class="form-control" name="cropId" id="inputEmail3" value="{{cropId}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Crop Name</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="cropName" class="form-control" name="cropName" id="inputEmail3" value="{{cropName}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Crop image</label>
      <div class="col-sm-9">
        <input type="email" [(ngModel)]="cropImage" class="form-control" name="cropImage" id="inputEmail3"  value="{{cropImage}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Crop Description</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="cropDescription"  class="form-control" name="cropDescription" id="inputEmail3" value="{{cropDescription}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Scientific Name</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="scientificName"  class="form-control" name="scientificName" id="inputEmail3" value="{{scientificName}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Nutrition</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="nutrition"  class="form-control" name="nutrition" id="inputEmail3" value="{{nutrition}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Cultivated Areas</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="cultivatedArea"  class="form-control" name="cultivatedArea" id="inputEmail3" value="{{cultivatedArea}}" ngModel>
      </div>
    </div>

    <div class="card-body">
      <div class="form-group m-b-0 text-right">
        <button type="submit" class="btn btn-info waves-effect waves-light" (click)="submitUpdates(loginForm.value)">Save</button>
        <button type="submit" class="btn btn-dark waves-effect waves-light">Cancel</button>
      </div>
    </div>

  </form>
</div>
<!--------------------------- Update disease -------------------------------------------------------------------->
<div [style.display]="part3 ? 'block' : 'none'">




  <hr class="m-t-0">
  <form  #loginForm="ngForm">

    <h4 >Disease Info</h4>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Disease ID</label>

      <div class="col-sm-9">
        <input type="text"  [(ngModel)]="disease_id" class="form-control" name="disease_id" id="inputEmail3" value="{{disease_id}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Disease Name</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="disease_name" class="form-control" name="disease_name" id="inputEmail3" value="{{disease_name}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Disease Image</label>
      <div class="col-sm-9">
        <input type="email" [(ngModel)]="disease_image" class="form-control" name="disease_image" id="inputEmail3"  value="{{disease_image}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Disease Scientific Name</label>
      <div class="col-sm-9">
        <input type="text"  [(ngModel)]="disease_Scientific_name" class="form-control" name="email" id="inputEmail3" value="{{disease_Scientific_name}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Disease symptoms</label>
      <div class="col-sm-9">
        <input type="text"  [(ngModel)]="disease_symptoms" class="form-control" name="usertype" id="inputEmail3" value="{{disease_symptoms}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Crop Id</label>
      <div class="col-sm-9">
        <input type="text"  [(ngModel)]="cropId" class="form-control" name="cropId" id="inputEmail3" value="{{cropId}}" ngModel>
      </div>
    </div>

    <div class="col-lg-12 col-xlg-6">
      <div class="card">
        <div class="card-body">
          <div class="button-group">
            <button type="submit" class="btn btn-primary" (click)="submitDiseaseUpdates(loginForm.value,disease_id)">Update</button>
            <button type="submit" class="btn btn-secondary" (click)="deleteDiseaseRow(disease_id)">Delete</button>
            <button type="submit" class="btn btn-success"> <a routerLink="/admin/dashboard">Cancel</a></button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
<!------------------------Add Diseases----------------------------------------------------------->
<div [style.display]="part4 ? 'block' : 'none'">
  <form  #loginForm2="ngForm">
  <h5 >Fill the information regarding the Disease.</h5><br>
  <div class="form-group row p-b-15">
    <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Disease Name</label>
    <div class="col-sm-9">
      <input type="text" [(ngModel)]="diseaseName"  class="form-control" name="diseaseName" id="inputEmail3"  ngModel>
    </div>
  </div>
  <div class="form-group row p-b-15">
    <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Disease Image</label>
    <div class="col-sm-9">
      <input type="text" [(ngModel)]="diseaseImage" class="form-control" name="diseaseImage" id="inputEmail3"  ngModel>
    </div>
  </div>
  <div class="form-group row p-b-15">
    <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Disease Scientific Name</label>
    <div class="col-sm-9">
      <input type="email" [(ngModel)]="diseaseScientificName" class="form-control" name="diseaseScientificName" id="inputEmail3"  ngModel>
    </div>
  </div>
  <div class="form-group row p-b-15">
    <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Disease Symptoms</label>
    <div class="col-sm-9">
      <input type="text" [(ngModel)]="diseaseSymptoms"  class="form-control" name="diseaseSymptoms" id="inputEmail3" ngModel>
    </div>
  </div>
  <div class="form-group row p-b-15">
    <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Crop Id</label>
    <div class="col-sm-9">
      <input type="text" [(ngModel)]="cropId"  class="form-control" name="cropId" id="inputEmail3" ngModel>
    </div>
  </div>

  <div class="card-body">
    <div class="form-group m-b-0 text-right">
      <button type="submit" class="btn btn-info waves-effect waves-light" (click)="submitDiseaseDetails(loginForm2.value)">Save</button>
      <button type="submit" class="btn btn-dark waves-effect waves-light" ><a routerLink="/admin/dashboard">Cancel</a></button>
    </div>
  </div>

  </form>

  <hr class="m-t-0">
</div>
