
.containerr{
    border: 1px solid black;
    border-radius: 9px;
    width:90%;
    height: auto;
    margin: 5%;
    padding: 1.8%;

    // adding flexbox styles
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.box1{
    //border: 1px solid black;
    width: 60%;
    height: auto;
    padding: 3%;
    //box-sizing: border-box;
}

.box2{
    //border: 1px solid black;
    width: 35%;
    height: auto;
    padding: 3%;
    //box-sizing: border-box;
}

// adding responsive meadia quaries
// @media screen and (max-width:1200px){
//     .box1,.box2{
//         width: 85%;
//     }
// }

@media screen and (max-width:1000px){
    .box1,.box2{
        margin-bottom: 30px;
        width: 90%;
    }
}

.heading{
    font-size: 23px;
    font-weight: bold;
}

form mat-form-field{
    width: 100%;
}

form mat-label{
    font-size: 18px;
}

//button styling
button {
    border-radius: 15px;
    background-image: linear-gradient(to right, #7BC451,rgb(149, 248, 118));
    width:150px;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
    color: white;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
button:hover span {
    padding-right: 25px;
  }
  
button:hover span:after {
    opacity: 1;
    right: 0;
  }

//box content 
h4{
    font-size: 18px;
    font-weight: lighter;
}

.section p{
    font-size: 18px;
}

a{
    font-size:18px;
}

/* mouse over link */
a:hover {
    color: green;
}

/* unvisited link */
a:link {
    color: #7BC451;
}
/* visited link */
a:visited {
    color: #7BC451;
  }

  .parallax {
    position: relative;
    text-align: center;
    //color: white;
    /* The image used */
    background-image: url("/assets/images/c3.jpg");
  
    /* Full height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  //text on image
  .centered {
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%, -50%);
  }
  .centered p{
      font-size: 20px;
  }
