<div class="container">
  <div class="holder">
    <h1 class="heading">
      AgroBuddy
    </h1>
    <h4 class="subtitle">We plant for the future</h4>
    <div>
      <a routerLink="/login"><button class="button" style="background-color:#15b85b">Login</button></a>
      <a routerLink="/signup"><button class="button" style="background-color: #7c4325">Register</button></a>
    </div>
  </div>

  <!-- bird animation -->
  <div class="bird-container bird-container--one">
    <div class="bird bird-birdone"></div>
  </div>

  <div class="bird-container bird-container--two">
    <div class="bird bird-birdtwo"></div>
  </div>

  <div class="bird-container bird-container--three">
    <div class="bird bird-birdthree"></div>
  </div>

  <div class="bird-container bird-container--four">
    <div class="bird bird-birdfour"></div>
  </div>
</div>
<!-- page middle description -->
<div class="row">
    <div class="column">
        <h1 class="h1 bouncy"> OUR MISSION </h1>
      <p class="paragaraph">Our mission is to predict best crops to acquire an incomprehensible profit
        with the fluctuating price, weather and time. And we proudly present a
        responsible,efficient and effective service with a highest accuracy. Today
        with Agrobuddy, the latest data for your requirements are at your fingertips.
        So, we invite you all to entwind your hands with us and build up your
        foundation to a better future for a successful life with Agrobuddy.<p>
    </div>
    <div class="column">
      <h1 class="h1 bouncy">OUR AIM</h1>
      <p class="paragaraph">Predicting the best crop to plant in order to get the maximum profit out of it,
        to help farmers get maximum profit by selecting best crops through early prediction systems 
        and provide them with the relevant knowledge on farming techniques, also, provide solutions 
        for their farming-related problems such as the pesticides needed for the diseases associated 
        with that harvest. </p>
    </div>
  </div>
<!-- footer -->
<div class="footer-distributed">
  <div class="footer-left">
    <h3>Agro<span>Buddy</span></h3>

    <p class="footer-company-name">AgroBuddy &copy; 2020</p>
  </div>
  <div class="footer-center">
    <h2 class="h2">Contact Us</h2>
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span> No.57,Ramakrishna Road, Colombo 06 Sri Lanka</span></p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>011-2123456, 0771231234</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="agrobuddy@gmail.com">agrobuddy@gmail.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span><h2>About Us</h2></span>
      AgroBuddy is a web site for a farmer. we provides the most suitable plant for the farmers to get maximum profit from the crop
    </p>
  </div>
</div>
