<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../../assets/video/landingPageVideo.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3 heading">Agro Buddy</h1>
        <p class="lead mb-0">We plant for the future</p>
        <br>
        <p class="lead mb-0">
          <a href="#/login">
            <button type="button" class="btn waves-effect waves-light btn-outline-light">Login</button>
          </a>&nbsp;&nbsp;
          <a href="#/signup">
            <button type="button" class="btn waves-effect waves-light btn-outline-light">Sign Up</button>
          </a>
        </p>

      </div>
    </div>
  </div>
</header>


<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href=""><img src="../../assets/images/logo-icon.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#ourMission">Our Mission</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Application">Application</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#dataUpdation">Locations & Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aboutUs">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactus">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav  my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/signup">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>

<div class="blockForPartSpecial" id="ourMission">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 firstPartBreak">
          <h1>OUR MISSION</h1>
          <p class="firstPartDescription">Our mission is to predict best crops to acquire an incomprehensible profit with the fluctuating price, weather and time. And we proudly present a responsible,efficient and effective service with a highest accuracy. Today with Agrobuddy, the latest data for your requirements are at your fingertips. So, we invite you all to entwind your hands with us and build up your foundation to a better future for a successful life with Agrobuddy.</p>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </section>
</div>

<div class="blockForPart1" id="Application">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 firstPartBreak">
          <h1>Mobile Application</h1>
          <p class="firstPartDescription">
            There is a mobile app very convenient and user friendly for the clients. Not only convenient but also very beneficial and advantageous because of the ability to update live time data and real-time date both in this mobile app. There for our clients can use this app at any time on anywhere fastly and very easily. So this app is the best way to get the data of your desire and requirement. Simply the best mobile app you can find today for your data requirements.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="blockForPart3" id="dataUpdation">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 firstPartBreak">
          <h1>Locations & Data</h1>
          <p class="firstPartDescription">
            Real time data updation and forecasting is enabled. Highly accurate and efficient models will forecast the future temperature, precipitation and market prices for relevant plants.
            <br>
            <b>Available Plants,</b>
            <br> &nbsp;&nbsp;&nbsp; Brinjal, Cucumber, Ash Plantain, Red Pumpkin, Ladies Finger
            <br>
            <b>Available Locations,</b>
            <br> &nbsp;&nbsp;&nbsp; Monaragala
            <br>
          </p>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </section>
</div>

<div class="contactUs" id="contactus">
  <section>
    <div class="container">
      <div class="row firstPartBreak">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <h1>Contact Us</h1>
          <form class="form-horizontal m-t-30" #contactUs="ngForm">
            <div class="form-group">
              <label>Name</label>
              <input class="form-control form__field" [(ngModel)]="name" type="text" required=" " if="name" name="name" ngModel required>
              <div *ngIf="nameEmpty"><span>Name is required</span></div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input class="form-control form__field" [(ngModel)]="email" type="email" required=" " if="email" name="email" ngModel required>
              <div *ngIf="mailEmpty"><span>Email is required</span></div>
            </div>
            <div class="form-group">
              <label>Message</label>
              <textarea class="form-control form__field" [(ngModel)]="message" required=" " if="message" name="message" ngModel required rows="5"></textarea>
              <div *ngIf="messageEmpty"><span>Message is required</span></div>
            </div>
            <div class="action-form">
              <div class="form-group m-b-0 text-right">
                <button type="submit" class="btn waves-effect waves-light btn-outline-dark" (click)="onSubmitForm(contactUs.value)">Send Us</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="blockForPart2" id="aboutUs">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img class="ourImage" src="../../assets/images/background/3rdPartPng.png">
        </div>
      </div>
    </div>
  </section>
</div>

<footer class="footer-area footer--light">
  <div class="footer-big">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <p><img src="../../assets/images/footerLogo.png" alt="" class="img-fluid"></p>
              <p>Lets plant for future.</p>
              <ul class="contact-details">
                <li>
                  <span class="icon-earphones"></span> Call Us:
                  <a href="tel:+94770776368">077-077-6368</a>
                </li>
                <li>
                  <span class="icon-envelope-open"></span>
                  <a href="mailto:info@agrobuddy.tk">info@agrobuddy.tk</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-3 col-sm-4">
        </div>

        <div class="col-md-3 col-sm-4">

        </div>

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title">Site Map</h4>
              <ul>
                <li>
                  <a href="#ourMission">Our Mission</a>
                </li>
                <li>
                  <a href="#Application">Application</a>
                </li>
                <li>
                  <a href="#dataUpdation">Locations & Data</a>
                </li>
                <li>
                  <a href="#aboutUs">About Us</a>
                </li>
                <li>
                  <a href="#contactus">Contact Us</a>
                </li>
                <li>
                  <a href="#/login">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2020
              <a href="#">AgroBuddy</a>. All rights reserved. Created by
              <a href="#">Runtime Terror</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
