header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* heading text css */
.heading {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 6em;
  font-weight: bold;
  letter-spacing: -3px;
  text-shadow: 3px 3px rgba(34, 32, 32, 0.6);
  position: relative;
  z-index: 3;
  animation-name: heading;
  animation-duration: 20s;
  animation-iteration-count: 20;
}

.blockForPartSpecial {
  background-image: url('../../assets/images/background/1stPart.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #BCBCBC;
}

.blockForPart1 {
  background-image: url('../../assets/images/background/2ndPart.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #BCBCBC;
}

.blockForPart2 {
  background-image: url('../../assets/images/background/3ndPart.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #BCBCBC;
}

.blockForPart3 {
  background-image: url('../../assets/images/background/4thPart.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #BCBCBC;
}

.contactUs {
  background-image: url('../../assets/images/background/contactUs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #BCBCBC;
}

.ourImage{
  height: 85vh;
  position: absolute;
  margin-top: 15vh;
  margin-left: 10%;
}
@media only screen and (max-width: 600px) {

  .blockForPart1 {
    background-image: url('../../assets/images/background/white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #BCBCBC;
  }

  .blockForPart3 {
    background-image: url('../../assets/images/background/white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #BCBCBC;
  }

  .ourImage {
    object-fit: cover;
    height: 40vh;
    position: absolute;
    margin-top: 35vh;
    margin-left: 0;
  }

  .blockForPart2 {
    background-image: url('../../assets/images/background/3ndPart.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #BCBCBC;
  }
}

.firstPartBreak{
  margin-top: 20vh;
}

.firstPartDescription{
  font-size: medium;
  line-height: 1.9;
}


ul {
  padding:0;
  margin:0
}
li {
  list-style:none
}
a:focus,a:hover {
  text-decoration:none;
  -webkit-transition:.3s ease;
  -o-transition:.3s ease;
  transition:.3s ease
}
a:focus {
  outline:0
}
img {
  max-width:100%
}
p {
  font-size:16px;
  line-height:30px;
  color:#898b96;
  font-weight:300
}
h4 {
  font-family:Rubik,sans-serif;
  margin:0;
  font-weight:400;
  padding:0;
  color:#363940
}
a {
  color:#5867dd
}
.no-padding {
  padding:0!important
}
.go_top {
  line-height:40px;
  cursor:pointer;
  width:40px;
  background:#5867dd;
  color:#fff;
  position:fixed;
  -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
  box-shadow:0 4px 4px rgba(0,0,0,.1);
  -webkit-border-radius:50%;
  border-radius:50%;
  right:-webkit-calc((100% - 1140px)/ 2);
  right:calc((100% - 1140px)/ 2);
  z-index:111;
  bottom:80px;
  text-align:center
}
.go_top span {
  display:inline-block
}
.footer-big {
  padding:105px 0 65px 0
}
.footer-big .footer-widget {
  margin-bottom:40px
}
.footer--light {
  background:#e7e8ed
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
  color:#898b96
}
.footer-menu {
  padding-left:48px
}
.footer-menu ul li a {
  font-size:15px;
  line-height:32px;
  -webkit-transition:.3s;
  -o-transition:.3s;
  transition:.3s
}
.footer-menu ul li a:hover {
  color:#5867dd
}
.footer-menu--1 {
  width:100%
}
.footer-widget-title {
  line-height:42px;
  margin-bottom:10px;
  font-size:18px
}
.mini-footer {
  background:#192027;
  text-align:center;
  padding:32px 0
}
.mini-footer p {
  margin:0;
  line-height:26px;
  font-size:15px;
  color:#999
}
.mini-footer p a {
  color:#5867dd
}
.mini-footer p a:hover {
  color:#34bfa3
}
.widget-about img {
  display:block;
  margin-bottom:30px
}
.widget-about p {
  font-weight:400
}
.widget-about .contact-details {
  margin:30px 0 0 0
}
.widget-about .contact-details li {
  margin-bottom:10px
}
.widget-about .contact-details li:last-child {
  margin-bottom:0
}
.widget-about .contact-details li span {
  padding-right:12px
}
.widget-about .contact-details li a {
  color:#5867dd
}
@media (max-width:991px) {
  .footer-menu {
    padding-left:0
  }
}


.form__field{
  border:0;
  border-bottom:1px solid #555;
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:black;
}
.form__field:focus{
  border:none;
  outline:none;
  border-bottom:1px solid #e74c3c;
}

.all {
  scroll-behavior: smooth;
}
