<div class="row el-element-overlay">
  <div>Predictive Models</div>
  <div class="col-lg-3 col-md-6">
    <a [routerLink]="['/admin/ModelDetails']" [queryParams]="{variables:'rainfall'}">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/rain.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rainfall Prediction</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
  <div class="col-lg-3 col-md-6">
    <a [routerLink]="['/admin/ModelDetails']" [queryParams]="{variables:'temperature'}">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/sunnyday.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Temperature Prediction</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
  <div class="col-lg-3 col-md-6">
    <a [routerLink]="['/admin/ModelDetails']" [queryParams]="{variables:'brinjalMPrice'}">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/brinjalMarketprice.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Brinjal Market Price Prediction</h4>
                    </div>

                </div>
            </div>
        </div>
    </a>
</div>
  <div class="col-lg-3 col-md-6">
    <a [routerLink]="['/admin/ModelDetails']" [queryParams]="{variables:'ladiesFingersMPrice'}">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1">
            <img src="assets/images/gallery/ladiesfingersMarketprice.jpg" alt="user" />
            <div class="el-overlay">
              <ul class="list-style-none el-info">
                <li class="el-item">
                  <a class="btn default btn-outline el-link" href="javascript:void(0);">
                    <i class="icon-link"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex no-block align-items-center">
            <div class="m-l-15">
              <h4 class="m-b-0">Ladies fingers Markrt Price Prediction</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6">
    <a [routerLink]="['/admin/ModelDetails']" [queryParams]="{variables:'cucumberMPrice'}">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1">
            <img src="assets/images/gallery/cucumberMarketprice.jpg" alt="user" />
            <div class="el-overlay">
              <ul class="list-style-none el-info">
                <li class="el-item">
                  <a class="btn default btn-outline el-link" href="javascript:void(0);">
                    <i class="icon-link"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex no-block align-items-center">
            <div class="m-l-15">
              <h4 class="m-b-0">Cucumber Market Price Prediction</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6">
    <a [routerLink]="['/admin/ModelDetails']" [queryParams]="{variables:'redPumpkinMPrice'}">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1">
            <img src="assets/images/gallery/pumpkinMarketprice.jpg" alt="user" />
            <div class="el-overlay">
              <ul class="list-style-none el-info">
                <li class="el-item">
                  <a class="btn default btn-outline el-link" href="javascript:void(0);">
                    <i class="icon-link"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex no-block align-items-center">
            <div class="m-l-15">
              <h4 class="m-b-0">pumpkin Market Price Prediction</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6">
    <a [routerLink]="['/admin/ModelDetails']" [queryParams]="{variables:'ashPlantainMPrice'}">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1">
            <img src="assets/images/gallery/ashplantainMarketprice.jpg" alt="user" />
            <div class="el-overlay">
              <ul class="list-style-none el-info">
                <li class="el-item">
                  <a class="btn default btn-outline el-link" href="javascript:void(0);">
                    <i class="icon-link"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex no-block align-items-center">
            <div class="m-l-15">
              <h4 class="m-b-0">Ash plantain Market Price Prediction</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
