<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cultivated Areas</h4>
                <h6 class="card-subtitle">The percentage of crop cultivated areas in Sri Lanka.</h6>
                <canvas baseChart height="165px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [colors]="[{backgroundColor: ['#a1aab2', '#36bea6', '#2962FF']}]">
                </canvas>
            </div>
        </div>
    </div>
</div>
