<div class="row">
    <!-- Column -->
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="card-title">Market Price Forecast</h4>
                        <h5 class="card-subtitle">Overview of Latest Month</h5>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline font-12 dl m-r-10">
                            <li class="list-inline-item">
                                <i class="fas fa-dot-circle text-info"></i> Ipad
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-dot-circle text-danger"></i> Iphone</li>
                        </ul>
                    </div>
                </div>
                <div id="product-sales" style="height:305px"></div>
            </div>
        </div>



    </div>

</div>
