<div [style.display]="part1 ? 'block' : 'none'">
<script src="user-management.component.ts"></script>
<div class="row">
  <div class="col-lg-12">
    <div class="card bg-light">
      <div class="card-body">
        <div class="d-flex no-block align-items-center m-b-10">
          <h4 class="card-title">User Details</h4>
        </div>
        <div class="col-lg-12 col-xlg-6">
          <div class="card">
            <div class="card-body">
              <div class="button-group">
                <button type="button" id="remove" class="btn btn-rounded btn-outline-info" id="remove"><a routerLink="/signup">Add User</a></button>
              </div>
            </div>
          </div>
        </div>


        <div class="table-responsive">
          <table class="table bg-white table-bordered nowrap display">
            <thead>
            <tr>
              <th> </th>
              <th></th>
              <th>User Id</th>
              <th>UserType</th>
              <th>Name</th>
              <th>Email</th>
              <th>NIC</th>
              <th>Address</th>
              <th>PhoneNo</th>
              <th>User name</th>
            </tr>
            </thead>
            <tbody style="text-transform: capitalize;">
            <tr *ngFor="let users of user">
              <td>
                <div class="custom-control custom-checkbox">
                  <button type="button" class="btn btn-success btn-circle" id="remove" (click)="updateUser(users.user_Id)"><i class="sl-icon-pencil"></i> </button>
                </div>
              </td>
              <td>
                <div class="custom-control custom-checkbox">
                  <button type="button" class="btn btn-secondary btn-circle" id="remove" (click)="deleteRow(users.user_Id)"><i class="fa fa-times"></i> </button>
                </div>
              </td>
              <td>{{users.user_Id}}</td>
              <td>
                <span class="label ">
                  <select  class="btn btn-outline-secondary  waves-effect waves-light btn-rounded dropdown-toggle animated flipInX" *ngIf="users.user_Type == 'admin'" (change)="update(users.user_Id, 'user')">
                      <option selected>Admin</option>
                      <option >User</option>
                  </select>

                  <select class="btn btn-outline-secondary  waves-effect waves-light btn-rounded dropdown-toggle animated flipInX"  *ngIf="users.user_Type == 'user'" (change)="update(users.user_Id, 'admin')">
                      <option>Admin</option>
                      <option selected>User</option>
                  </select>
                </span>
              </td>
              <td>{{users.user_Fname}} {{users.user_Lname}}</td>

              <td>{{users.user_Email}}</td>
              <td>{{users.user_NIC}}</td>
              <td>{{users.user_AddressNo}},{{users.user_Street1}},{{users.user_Street2}},{{users.user_City}}</td>
              <td>{{users.user_PhoneNo}}</td>
              <td>{{users.user_Username}}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div [style.display]="part2 ? 'block' : 'none'">




      <hr class="m-t-0">
      <form  #loginForm="ngForm">

          <h4 >Personal Info</h4>
          <div class="form-group row p-b-15">
            <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">First Name</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="userFname" class="form-control" name="firstName" id="inputEmail3" value="{{userFname}}" ngModel>
            </div>
          </div>
          <div class="form-group row p-b-15">
            <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Last Name</label>
            <div class="col-sm-9">
              <input type="email" [(ngModel)]="userLname" class="form-control" name="lastName" id="inputEmail3"  value="{{userLname}}" ngModel>
            </div>
          </div>
          <div class="form-group row p-b-15">
            <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="text"  [(ngModel)]="userEmail" class="form-control" name="email" id="inputEmail3" value="{{userEmail}}" ngModel>
            </div>
          </div>
        <div class="form-group row p-b-15">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">User Type</label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="userType" class="form-control" name="usertype" id="inputEmail3" value="{{userType}}" ngModel>
          </div>
        </div>
        <div class="form-group row p-b-15">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">User Name</label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="userUsername" class="form-control" name="userName" id="inputEmail3" value="{{userUsername}}" ngModel>
          </div>
        </div>
        <div class="form-group row p-b-15">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">NIC</label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="userNIC" class="form-control" name="nic" id="inputEmail3" value="{{userNIC}}" ngModel>
          </div>
        </div>
        <div class="form-group row p-b-15">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">User Id</label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="userId" class="form-control" name="userId" id="inputEmail3" value="{{userId}}" ngModel>
          </div>
        </div>
        <div class="form-group row p-b-15">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Address No</label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="userAddressNo" class="form-control" name="address" id="inputEmail3" value="{{userAddressNo}}" ngModel>
          </div>
        </div>
        <div class="form-group row p-b-15">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label"> Street 1</label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="userStreet1" class="form-control" name="str1" id="inputEmail3" value="{{userStreet1}}" ngModel>
          </div>
        </div>
        <div class="form-group row p-b-15">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Street 2</label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="userStreet2" class="form-control" name="str2" id="inputEmail3" value="{{userStreet2}}" ngModel>
          </div>
        </div>
        <div class="form-group row p-b-15">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">City</label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="userCity" class="form-control" name="city" id="inputEmail3" value="{{userCity}}" ngModel>
          </div>
        </div>
        <div class="form-group row p-b-15">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Phone No</label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="userPhoneNo" class="form-control" name="phone" id="inputEmail3" value="{{userPhoneNo}}" ngModel>
          </div>
        </div>
        <div class="form-group row p-b-15">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Tele phone No</label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="userTelNo" class="form-control" name="tele" id="inputEmail3" value="{{userTelNo}}" ngModel>
          </div>
        </div>
        <div class="col-lg-12 col-xlg-6">
          <div class="card">
            <div class="card-body">
              <div class="button-group">
                <button type="submit" class="btn btn-primary" (click)="submitUpdates(loginForm.value,userId)">Update</button>
                <button type="submit" class="btn btn-secondary" (click)="deleteRow(userId)">Delete</button>
                <button type="submit" class="btn btn-success"> <a routerLink="/admin/dashboard">Cancel</a></button>
              </div>
            </div>
          </div>
        </div>

      </form>
</div>
