<div class="card">
  <div class="card-body">
    <h4 class="card-title">Crops</h4>
    <table class="table vm m-t-30 no-border">
      <tbody>
      <tr>
        <td>
          <a routerLink="/app/cropDetails/ashPlantain" role="button" routerLinkActive="active">
            <img src="assets/images/browser/ashPlantainlogo.jpg" alt="logo" height="60px" width="60px"></a>
        </td>
        <td><a routerLink="/app/cropDetails/ashPlantain" role="button" routerLinkActive="active">
          Ash Plantain</a>
        </td>
        <td>
          <a routerLink="/app/cropDetails/brinjal" role="button" routerLinkActive="active">
            <img src="assets/images/browser/brinjallogo.jpg" alt="logo" height="60px" width="60px"></a>
        </td>
        <td>
          <a routerLink="/app/cropDetails/brinjal" role="button" routerLinkActive="active">
            Brinjal</a>
        </td>
      </tr>
      <tr>
        <td>
          <a routerLink="/app/cropDetails/cucumber" role="button" routerLinkActive="active">
            <img src="assets/images/browser/cucumberlogo.jpg" alt="logo"  height="60px" width="60px"></a>
        </td>
        <td>
          <a routerLink="/app/cropDetails/cucumber" role="button" routerLinkActive="active">
            Cucumber</a>
        </td>
        <td style="width:20px">
          <a routerLink="/app/cropDetails/ladiesFinger" role="button" routerLinkActive="active">
            <img src="assets/images/browser/ladiesFingersLogo.jpg" alt="logo" height="60px" width="60px"></a>
        </td>
        <td>
          <a routerLink="/app/cropDetails/ladiesFinger" role="button" routerLinkActive="active">
            Ladies Fingers</a>
        </td>
      </tr>
      <tr>
        <td>
          <a routerLink="/app/cropDetails/redPumpkin" role="button" routerLinkActive="active">
            <img src="assets/images/browser/redPumkinlogo.jpg" alt="logo" height="60px" width="60px"></a>
        </td>
        <td>
          <a routerLink="/app/cropDetails/redPumpkin" role="button" routerLinkActive="active">
            Red Pumkin</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
