li a:hover {
    //background-color: c#9ECF7E;;
    color: white;
}
.grid-container {
  display: grid;
  height:100%;
  overflow: hidden;
}

.grid-container > div {
  padding: 10px 0;
  font-size: 30px;
  width:1330px;
  margin-left: 10px;
}
img {
  width: 100%;
  height: 10%;
}
