<!-- <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse show" id="navbarSupportedContent" >
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AgroBuddy</a>
        </div>
        <ul class="nav navbar-nav" style="float: right;">
          <li class="active"><a routerLink="/home" routerLinkActive="active" style="color:#9ECF7E;">Home</a></li>
          <li><a routerLink="/details" routerLinkActive="active" style="color:#9ECF7E;"> PlantDetails </a></li>
          <li><a routerLink="/area" routerLinkActive="active" style="color:#9ECF7E;"> CultivatedArea </a></li>
          <li><a routerLink="/finder" routerLinkActive="active" style="color:#9ECF7E;"> PlantFinder </a></li>
          <li><a routerLink="/about" routerLinkActive="active" style="color:#9ECF7E;"> AboutUs </a></li>
          <li><a routerLink="/contact" routerLinkActive="active" style="color:#9ECF7E;"> ContactUs </a></li>
        </ul>
      </div>
    </div>
  </nav>
<body>
      <div style="text-align: center; color: #906790;">
          <h1><i><b>W</b>elcome to <b>A</b>gro<b>B</b>uddy </i></h1>
      </div>

</body> -->
<app-nav-bar>
  <router-outlet></router-outlet>

<footer>
  <div class="footer-content">
    <div class="about">AboutUs</div>
    <div class="contact">ContactUs</div>
  </div>

  <a href="home/home.component.html">Home | </a>
  <a href="home/home.component.html">PlantDetails | </a>
  <a href="home/home.component.html">CultivatedArea | </a>
  <a href="home/home.component.html">PlantFinder</a>

  <div class="bottom">
    &copy; agrobuddy.lk | Designed by runtimeterror
  </div>
</footer>
</app-nav-bar>
