<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<nav class="navbar navbar">
  <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AgroBuddy</a>
        </div>
        <ul class="nav navbar-nav" style="float: right;">
          <li class="active"><a routerLink="/details" routerLinkActive="active" style="color:#9ECF7E;">Home</a></li>
          <li><a routerLink="/details" routerLinkActive="active" style="color:#9ECF7E;"> PlantDetails </a></li>
          <li><a routerLink="/area" routerLinkActive="active" style="color:#9ECF7E;"> CultivatedArea </a></li>
          <li><a routerLink="/finder" routerLinkActive="active" style="color:#9ECF7E;"> PlantFinder </a></li>
          <li><a routerLink="/about" routerLinkActive="active" style="color:#9ECF7E;"> AboutUs </a></li>
          <li><a routerLink="/contact" routerLinkActive="active" style="color:#9ECF7E;"> ContactUs </a></li>
        </ul>
      </div>
  </nav>
<body>
<div class="grid-container">
  <div class="slider">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide">
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide">
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide">
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="menu">

  </div>

  <div class="abtus" [ngStyle]="{background: 'url(assets/images/abtus.jpg'}">
    <h2>About Us</h2>
    <p>We provide our farmers blah blah blairifkhuk4gkj4kng5uvbt4ivuti4uhn4iuhit4utikih4bit4i5ty4htuvhuthvtiu4kht
      tjv3gvtu34ygtvu43iytvbi4yiyvitybit4htvi4vht i4htn4tv3r3vyvrg3u4grvby3y33v
    </p>
  </div>

  <div class="footr">
    <footer>
      <a href="home/home.component.html">Home | </a>
      <a href="home/home.component.html">PlantDetails | </a>
      <a href="home/home.component.html">CultivatedArea | </a>
      <a href="home/home.component.html">PlantFinder</a>
    </footer>
  </div>

      <!--<div style="text-align: center; color: #906790;">
          <h1><i><b>W</b>elcome to <b>A</b>gro<b>B</b>uddy </i></h1>
      </div>-->
  </div>
</body>
<router-outlet></router-outlet>
