<div [style.display]="part1 ? 'block' : 'none'">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Buyers</h4>
              <div class="col-lg-12 col-xlg-6">
                <div class="card">
                  <div class="card-body">
                    <div class="button-group">
                      <button type="button" class="btn btn-rounded btn-danger" id="remove" (click)="addBuyerDetails()">Add Plant</button>
                    </div>
                  </div>
                </div>
              </div>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Id</th>
                                <th>Buyer Name</th>
                                <th>Address</th>
                                <th>Contact Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let buyer of buyers">
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <button type="button" class="btn btn-success btn-circle" id="remove" (click)="updateBuyer(buyer.buyerId)"><i class="sl-icon-pencil"></i> </button>
                                </div>
                              </td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <button type="button" class="btn btn-secondary btn-circle" id="remove" (click)="deletBuuyer(buyer.buyerId)"><i class="fa fa-times"></i> </button>
                                </div>
                              </td>
                                <td>
                                    {{buyer.buyerId}}
                                </td>
                                <td>
                                    {{buyer.buyerName}}
                                </td>
                                <td>{{buyer.buyerAddress}}</td>
                                <td>{{buyer.buyerContactNumber}}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!------------------------------------------------update buyer---------------------------------------------->
<div [style.display]="part2 ? 'block' : 'none'">
  <hr class="m-t-0">
  <form  #loginForm="ngForm">

    <h4 >Buyer's Info</h4>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Buyer ID</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="buyerId" class="form-control" name="buyerId" id="inputEmail3" value="{{buyerId}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Buyer Name</label>
      <div class="col-sm-9">
        <input type="email" [(ngModel)]="buyerName" class="form-control" name="buyerName" id="inputEmail3"  value="{{buyerName}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Address</label>
      <div class="col-sm-9">
        <input type="text"  [(ngModel)]="buyerAddress" class="form-control" name="buyerAddress" id="inputEmail3" value="{{buyerAddress}}" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Contact Number</label>
      <div class="col-sm-9">
        <input type="text"  [(ngModel)]="buyerContactNumber" class="form-control" name="buyerContactNumber" id="inputEmail3" value="{{buyerContactNumber}}" ngModel>
      </div>
    </div>

    <div class="col-lg-12 col-xlg-6">
      <div class="card">
        <div class="card-body">
          <div class="button-group">
            <button type="submit" class="btn btn-primary" (click)="submitBuyerUpdates(loginForm.value,buyerId)">Update</button>
            <button type="submit" class="btn btn-secondary" (click)="deletBuuyer(buyerId)">Delete</button>
            <button type="submit" class="btn btn-success"> <a routerLink="/admin/dashboard">Cancel</a></button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
<!------------------------------- add buyer--------------------------------------------------------------------------->
<div [style.display]="part3? 'block' : 'none'">
  <form  #loginForm4="ngForm">
    <h5 >Fill the information regarding the Buyer.</h5><br>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Buyer Name</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="buyer_Name" class="form-control" name="buyer_Name" id="inputEmail3"  ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Buyer Address</label>
      <div class="col-sm-9">
        <input type="email" [(ngModel)]="buyer__Address" class="form-control" name="buyer__Address" id="inputEmail3"  ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Buyer ContactNumber </label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="buyer_ContactNumber"  class="form-control" name="buyer_ContactNumber" id="inputEmail3" ngModel>
      </div>
    </div>


    <div class="card-body">
      <div class="form-group m-b-0 text-right">
        <button type="submit" class="btn btn-info waves-effect waves-light" (click)="submitAddBuyerDetails(loginForm4.value)">Save</button>
        <button type="submit" class="btn btn-dark waves-effect waves-light" ><a routerLink="/admin/dashboard">Cancel</a></button>
      </div>
    </div>

  </form>

</div>


