
<div [style.display]="part1 ? 'block' : 'none'">
  <div class="col-lg-12 col-xlg-6">
    <div class="card">
      <div class="card-body">
        <div class="button-group">
          <button type="button" class="btn btn-rounded btn-danger" id="remove" (click)="addDetails()">Add Plant</button>
        </div>
      </div>
    </div>
  </div>
<div class="row el-element-overlay">

  <div class="col-lg-3 col-md-6" *ngFor="let plants of plantDetails">
      <a [routerLink]="['/admin/details']" [queryParams]="{ plant: plants.crop_id}">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                  <img src="assets/images/gallery/{{plants.crop_image}}" alt="user"/>
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">{{plants.crop_name}} Plant</h4>
                        <span class="text-muted"></span>
                    </div>

                </div>
            </div><br>
        </div>
      </a>
    </div>
</div>
</div>
<div [style.display]="part2 ? 'block' : 'none'">
  <h4 >Add New Plant</h4>


  <hr class="m-t-0">
  <form  #loginForm2="ngForm">

    <h5 >Fill the information regarding the Crop.</h5><br>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Crop Id</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="cropId"  class="form-control" name="cropId" id="inputEmail3"  ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Crop Name</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="cropName" class="form-control" name="cropName" id="inputEmail3"  ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Crop image</label>
      <div class="col-sm-9">
        <input type="email" [(ngModel)]="cropImage" class="form-control" name="cropImage" id="inputEmail3"  ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Crop Description</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="cropDescription"  class="form-control" name="cropDescription" id="inputEmail3" ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Scientific Name</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="scientificName"  class="form-control" name="scientificName" id="inputEmail3"  ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Nutrition</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="nutrition"  class="form-control" name="nutrition" id="inputEmail3"  ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Cultivated Areas</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="cultivatedArea"  class="form-control" name="cultivatedArea" id="inputEmail3"  ngModel>
      </div>
    </div>

    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">temperature</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="temperature"  class="form-control" name="temperature" id="inputEmail3"  ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Duration</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="duration"  class="form-control" name="duration" id="inputEmail3"  ngModel>
      </div>
    </div>
    <div class="form-group row p-b-15">
      <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Percentage</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="percentage"  class="form-control" name="percentage" id="inputEmail3"  ngModel>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group m-b-0 text-right">
        <button type="submit" class="btn btn-info waves-effect waves-light" (click)="submitAddDetails(loginForm2.value)">Save</button>
        <button type="submit" class="btn btn-dark waves-effect waves-light" ><a routerLink="/admin/dashboard">Cancel</a></button>
      </div>
    </div>

  </form>
</div>
