<div class="card">
    <div class="card-body">
        <h4 class="card-title">Crops</h4>
        <table class="table vm m-t-30 no-border">
            <tbody>
                <tr>
                    <td style="width:20px">
                        <img src="assets/images/browser/ladiesFingersLogo.jpg" alt="logo" height="60px" width="60px">
                    </td>
                  <td><a href="http://localhost:4200/#/admin/details?plant=c2">Ladies Fingers</a></td>
                    <td align="right">
                        <span class="badge badge-pill badge-info">Abelmoschus esculentus</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/browser/redPumkinlogo.jpg" alt="logo" height="60px" width="60px">
                    </td>
                    <td><a href="http://localhost:4200/#/admin/details?plant=c4">Red Pumpkin</a></td>
                    <td align="right">
                        <span class="badge badge-pill badge-success">Cucurbita maxima</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/browser/ashPlantainlogo.jpg" alt="logo" height="60px" width="60px">
                    </td>
                    <td><a href="http://localhost:4200/#/admin/details?plant=c5"> Ash Plantain</a></td>
                    <td align="right">
                        <span class="badge badge-pill badge-primary">Musa spp</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/browser/brinjallogo.jpg" alt="logo" height="60px" width="60px">
                    </td>
                  <td ><a href="http://localhost:4200/#/admin/details?plant=c1"> Brinjal</a></td>
                    <td align="right">
                        <span class="badge badge-pill badge-warning">Solanum melongena</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/browser/cucumberlogo.jpg" alt="logo"  height="60px" width="60px">
                    </td>
                    <td><a href="http://localhost:4200/#/admin/details?plant=c3">Cucumber</a> </td>
                    <td align="right">
                        <span class="badge badge-pill badge-danger">Cucumis sativus</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
