<div class="card">
    <div class="card-body">
        <h4 class="card-title">Crops</h4>
        <table class="table vm m-t-30 no-border">
            <tbody>
                <tr>
                    <td style="width:20px">
                        <img src="assets/images/browser/ladiesFingersLogo.jpg" alt="logo" height="60px" width="60px">
                    </td>
                    <td>Ladies Fingers</td>
                    <td align="right">
                        <span class="badge badge-pill badge-info">Abelmoschus esculentus</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/browser/redPumkinlogo.jpg" alt="logo" height="60px" width="60px">
                    </td>
                    <td>Red Pumkin</td>
                    <td align="right">
                        <span class="badge badge-pill badge-success">Cucurbita maxima</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/browser/ashPlantainlogo.jpg" alt="logo" height="60px" width="60px">
                    </td>
                    <td>Ash Plantain</td>
                    <td align="right">
                        <span class="badge badge-pill badge-primary">Musa spp</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/browser/brinjallogo.jpg" alt="logo" height="60px" width="60px">
                    </td>
                    <td>Brinjal</td>
                    <td align="right">
                        <span class="badge badge-pill badge-warning">Solanum melongena</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/browser/cucumberlogo.jpg" alt="logo"  height="60px" width="60px">
                    </td>
                    <td>Cucumber</td>
                    <td align="right">
                        <span class="badge badge-pill badge-danger">Cucumis sativus</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
