<nav class="sidebar-nav" >
  <ul id="sidebarnav">
    <li>
      <!-- client Profile-->
      <div class="user-profile m-t-20" ngbDropdown>
        <div class="user-pic">
          <img src="assets/images/users/1.jpg" alt="users" class="rounded-circle img-fluid" />
        </div>
        <div class="user-content hide-menu m-t-10">
          <h5 class="m-b-10 user-name font-medium">{{name}}</h5>
          <a href="javascript:void(0)" (click)="logOut()" title="Logout" class="btn btn-circle btn-sm">
            <i class="ti-power-off"></i>
          </a>
          <div class="animated flipInY" aria-labelledby="Userdd" ngbDropdownMenu>
            <a class="dropdown-item" href="javascript:void(0)">
              <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
          </div>
        </div>
      </div>
    </li>
    <!-- client dashboard menu-->
    <li class="sidebar-item" [class.selected]="showMenu === sidebarnavItem.title" *ngFor="let sidebarnavItem of sidebarnavItems">
      <a class="sidebar-link waves-effect waves-dark" [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
         [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;" (click)="addExpandClass(sidebarnavItem.title)">
        <i [ngClass]="[sidebarnavItem.icon]"></i>
        <span class="hide-menu">{{sidebarnavItem.title}}</span>
      </a>
    </li>
  </ul>
</nav>
