<div class="row">
  <div class="card">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/images/c_field.jpg" alt="Card image cap" style="max-height: 450px">
        <div class="carousel-caption">
          <h3 class="text-white font-bold">AgroBuddy</h3>
          <p>Predict the best crop using ........</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/c_weather.jpg" alt="Card image cap" style="max-height: 450px">
        <div class="carousel-caption">
          <h3 class="text-white font-bold">Weather</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/c_market.jpg" alt="Card image cap" style="max-height: 450px">
        <div class="carousel-caption">
          <h3 class="text-white font-bold">Market Price</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div class="row">
  <div class="card">
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <form class="form-horizontal m-t-30" #contactUs="ngForm">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" [(ngModel)]="name" type="text" required=" " if="name" placeholder="Name" name="name" ngModel required>
            <div *ngIf="nameEmpty"><span>Name is required</span></div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" [(ngModel)]="email" type="email" required=" " if="email" placeholder="Email" name="email" ngModel required>
            <div *ngIf="mailEmpty"><span>Email is required</span></div>
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" [(ngModel)]="message" required=" " if="message" placeholder="Enter your message here...." name="message" ngModel required rows="5"></textarea>
            <div *ngIf="messageEmpty"><span>Message is required</span></div>
          </div>
          <div class="action-form">
            <div class="form-group m-b-0 text-right">
              <button type="submit" class="btn btn-info waves-effect waves-light" (click)="onSubmitForm(contactUs.value)">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Contact Us</h2>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">AgroBuddy</h4><br>
            <h6><i class="icon-Mail"> </i> Address</h6>
            <p>No.57,Ramakrishna Road, <br>Colombo 06 <br>Sri Lanka</p>
            <h6><i class="icon-Mail-withAtSign"> </i> Email</h6>
            <p>agrobuddy@gmail.com</p>
            <h6><i class="icon-Phone"> </i> Phone Numbers</h6>
            <p>011-2123456, 0771231234</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
