<div class="card">
  <div class="card-body text-center">
    <div class="profile-pic m-b-20 m-t-20">
      <img src="assets/images/users/1.jpg" width="150" class="rounded-circle" alt="user" />
      <h2 class="m-t-20 m-b-0">{{user_Fname}} {{user_Lname}}</h2>
      <a href="mailto:{{user_Email}}">{{user_Email}}</a>
    </div>
    <div [style.display]="adminDashboard ? 'block' : 'none'">
      <div class="badge badge-pill badge-light font-16"><a href="#/admin/dashboard">Dashboard</a></div>
    </div>
    <div [style.display]="clientDashboard ? 'block' : 'none'">
      <div class="badge badge-pill badge-light font-16"><a href="#/client/dashboard">Dashboard</a></div>
    </div>
    <br>
    <div class="badge badge-pill badge-light font-16"><a href="mailto:{{user_Email}}"><i class="fa fa-envelope"></i> Mail</a></div>
    <div class="badge badge-pill badge-light font-16" ><a href="tel:{{user_PhoneNo}}"><i class="fa fa-phone"></i> Call</a></div>
  </div>
</div>
<div class="col-lg-8 col-md-8" style="margin-left:20%; ">
  <h3 class="box-title m-t-40">Profile Details</h3>
  <div class="table-responsive">
    <table class="table">
      <tbody>
      <tr>
        <td>User Type:</td>
        <td>{{user_Type}}</td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>{{user_AddressNo}},{{user_Street1}},{{user_Street2}},{{user_City}}</td>
      </tr>
      <tr>
        <td>Date Of Birth:</td>
        <td>{{user_Dob}}</td>
      </tr>
      <tr>
        <td>NIC:</td>
        <td>{{user_NIC}}</td>
      </tr>
      <tr>
        <td>Phone No:</td>
        <td>{{user_PhoneNo}}</td>
      </tr>
      <tr>
        <td>Telephone Phone No:</td>
        <td>{{user_TelNo}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
