<div class="row">
  <!-- Column -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-body bg-light-info">
        <div class="d-flex align-items-center m-t-10 m-b-20">
          <div class="m-r-10">
            <i class="icon-Cloud-Sun display-5"></i>
          </div>
          <div>
            <h1 class="m-b-0 font-light">{{rainfallValue}}
              <sup>mm</sup>
            </h1>
            <h5 class="font-light">Precipitation Forecast (Monaragala District)</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                    [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
