<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<body>
<div class="grid-container">
    <div class="slider">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img [src]="images[0]" alt="Random first slide">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[1]" alt="Random second slide">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[2]" alt="Random third slide">
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  
  
  
    <div class="abtus" [ngStyle]="{background: 'url(assets/images/abtus.jpg'}">
      <h2>About Us</h2>
      <p>We provide our farmers blah blah blairifkhuk4gkj4kng5uvbt4ivuti4uhn4iuhit4utikih4bit4i5ty4htuvhuthvtiu4kht
        tjv3gvtu34ygtvu43iytvbi4yiyvitybit4htvi4vht i4htn4tv3r3vyvrg3u4grvby3y33v
      </p>
    </div>
</body>