<!-- ============================================================== -->
<!-- Welcome back  -->

<!-- ============================================================== -->
<app-welcome></app-welcome>
<!-- ============================================================== -->
<!-- Sales Summery -->
<!-- ============================================================== -->
<app-visitors></app-visitors>
<!-- ============================================================== -->
<!-- place order / Exchange -->
<!-- ============================================================== -->

<div class="row">
  <div class="col-sm-12 col-lg-4">
    <app-mix-stats></app-mix-stats>
  </div>
  <div class="col-sm-12 col-lg-8">
    <app-sales></app-sales>
  </div>
</div>

<!-- ============================================================== -->
<!-- project of the month -->

<!-- ============================================================== -->


<div class="row">
    <div class="col-sm-12 col-lg-6">
        <rainfall-forcast></rainfall-forcast>
    </div>
    <div class="col-sm-12 col-lg-6">
      <weather-forcast></weather-forcast>
    </div>
</div>
<!-- ============================================================== -->
<!-- Task, Feeds -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
      <app-weather></app-weather>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-browser-stats></app-browser-stats>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">

    </div>
    <div class="col-lg-4">

    </div>
</div>
<app-user-details></app-user-details>
