<!-- ============================================================== -->
<!--                    Welcome back                                -->
<!-- ============================================================== -->

<app-admin-welcome></app-admin-welcome>

<!-- ============================================================== -->
<!--                 View model Accuracy                            -->
<!-- ============================================================== -->

<app-model-accuracy></app-model-accuracy>

<!-- ============================================================== -->
<!--   View Cultivated area percentage and market price percentage  -->
<!-- ============================================================== -->

<div class="row">
  <div class="col-sm-12 col-lg-4">
    <app-cultivatedArea-percentage></app-cultivatedArea-percentage>
  </div>
  <div class="col-sm-12 col-lg-8">
    <app-marketPrice-forcast></app-marketPrice-forcast>
  </div>
</div>

<!-- ============================================================== -->
<!--        View rainfall forcast and temperature forcast           -->
<!-- ============================================================== -->

<div class="row">
    <div class="col-sm-12 col-lg-6">
        <rainfall-forcast></rainfall-forcast>
    </div>
    <div class="col-sm-12 col-lg-6">
      <weather-forcast></weather-forcast>
    </div>
</div>

<!-- ============================================================== -->
<!--               View weather card and crop list                  -->
<!-- ============================================================== -->

<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
      <app-weather></app-weather>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-crop-list></app-crop-list>
    </div>
</div>

<!-- ============================================================== -->
<!--                       View users list                          -->
<!-- ============================================================== -->

<app-user-details></app-user-details>
