<div class="wrapper fadeInDown">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!--  <h2 class="active">Register</h2>-->


    <!-- Icon -->
    <div class="fadeIn first">
      <h3><i class="fa fa-home"></i> <b> Address Details</b></h3>
    </div>

    <!-- Login Form -->
    <form>

      <input type="text" placeholder="name"/><br>
      <input type="password" placeholder="password"/>

      <br><br><br>
      <button  class="button" >Login</button>


    </form>




  </div>
</div>
