<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center , linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3));  background-blend-mode: overlay;">
  <div class="auth-box" style="border-radius:20px; ">
    <div>
      <div class="logo">
        <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
        <h5 class="font-medium m-b-20">Create An Account</h5>
      </div>
      <!-- Form -->

      <div class="row">
        <div class="col-12">
          <form #loginForm="ngForm" >
            <div [style.display]="signUpPart1 ? 'block' : 'none'">
              <div class="form-group row ">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="name" type="text" required=" " if="fName" placeholder="First Name" name="name" ngModel required>
                  <div *ngIf="nameEmpty"><span>First Name is required</span></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="lname" type="text" required=" " if="lName" placeholder="Last Name" name="lname" ngModel required>
                  <div *ngIf="lnameEmpty"><span>Last Name is required!</span></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="dob" type="date" required=" " if="dob" placeholder="Date Of Birth" name="dob" ngModel required>
                  <div *ngIf="dobEmpty"><span>Date of birth is required!</span></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="nic" type="text" required=" " if="nic" placeholder="NIC Number" name="nic" ngModel required>
                  <div *ngIf="nicEmpty"><span>NIC number is required!</span></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="email" type="email" required=" " if="email" placeholder="Email" name="email" ngModel required>
                  <div *ngIf="emailEmpty"><span>Email is required!</span></div>
                  <div *ngIf="emailError"><span>Please include an '@' in the email address.</span></div>
                </div>
              </div>
              <div class="form-group text-center ">
                <div class="col-xs-12 p-b-20 ">
                  <button class="btn btn-block btn-lg btn-info " (click)="goToPart2()">Next</button>
                </div>
              </div>
            </div>

            <div [style.display]="signUpPart2 ? 'block' : 'none'">
              <div class="form-group row ">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="uname" type="text" required=" " if="user" placeholder="UserName" name="user" ngModel required>
                  <div *ngIf="unameEmpty"><span>User Name is required!</span></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="password" type="password" required=" " if="pass" placeholder="Password" name="password" ngModel required>
                  <div *ngIf="passwordEmpty"><span>Password is required!</span></div>
                  <div *ngIf="passwordError"><span>Please enter at least 8 characters</span></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="confirm" type="password" required=" " if="repass" placeholder="Re-type Password" name="repass" ngModel required>
                  <div *ngIf="confirmEmpty"><span>Please re enter your password!</span></div>
                  <div *ngIf="doesnotsuitEmpty"><span>Invalid password.Try again!</span></div>
                </div>
              </div>
              <div class="form-group text-center ">
                <div class="col-xs-12 p-b-20 ">

                  <button class="btn btn-block btn-lg btn-info " (click)="goToPart3()">Next</button>
                </div>
                <a style="cursor: pointer;" (click)="goToPart1()">back</a>
              </div>
            </div>

            <div [style.display]="signUpPart3 ? 'block' : 'none'">
              <div class="form-group row ">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="no" type="number" required=" " if="no" placeholder="No" name="no" ngModel required>
                  <div *ngIf="NoEmpty"><span>No is required!</span></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="st1" type="text" required=" " if="streetLine1" placeholder="Street Line 1" name="st1" ngModel required>
                  <div *ngIf="streetEmpty"><span>street is required!</span></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="st2" type="text" required=" " if="streetLine2" placeholder="Street Line 2" name="st2" ngModel required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="city" type="text" required=" " if="city" placeholder="City" name="city" ngModel required>
                  <div *ngIf="cityEmpty"><span>city is required!</span></div>
                </div>
              </div>

              <div class="form-group text-center ">
                <div class="col-xs-12 p-b-20 ">
                  <button class="btn btn-block btn-lg btn-info " (click)="goToPart4()">Next</button>
                </div>
                <a style="cursor: pointer;" (click)="goToPart2()">back</a>
              </div>

            </div>

            <div [style.display]="signUpPart4 ? 'block' : 'none'">
              <div class="form-group row ">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="telno" type="number" required=" " if="telephoneNo" placeholder="Telephone Number" name="telephoneNo" ngModel required>
                  <div *ngIf="numberEmpty"><span>phone number is Invalid!</span></div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 ">
                  <input class="form-control form-control-lg" [(ngModel)]="phoneno" type="number" required=" " if="phoneNo" placeholder="Phone Number" name="phoneNo" ngModel required>
                  <div *ngIf="numberEmpty"><span>phone number is required!</span></div>
                  <div *ngIf="numberEmpty"><span>phone number is Invalid!</span></div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12 ">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                  </div>
                </div>
              </div>

              <div class="form-group text-center ">
                <div class="col-xs-12 p-b-20 ">
                  <button class="btn btn-block btn-lg btn-info " type="submit" (click)="onSubmitForm(loginForm.value)">SIGN UP</button>
                </div>

                <a style="cursor: pointer;" (click)="goToPart3()">back</a>
              </div>
            </div>

            <div class="form-group m-b-0 m-t-10 ">
              <div class="col-sm-12 text-center ">
                Already have an account? <a href="#/login " class="text-info m-l-5 "><b>Sign In</b></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
