<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center , linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3));  background-blend-mode: overlay;">
    <div class="auth-box" style="border-radius:20px; ">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Create An Account</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <div class="form-horizontal m-t-20">


                        <div [style.display]="signUpPart1 ? 'block' : 'none'">
                          <div class="form-group row ">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="text" required=" " if="fName" placeholder="First Name">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="text" required=" " if="lName" placeholder="Last Name">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="date" required=" " if="dob" placeholder="Date Of Birth">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="text" required=" " if="nic" placeholder="NIC Number">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="email" required=" " if="email" placeholder="Email">
                              </div>
                          </div>
                          <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                              <button class="btn btn-block btn-lg btn-info " (click)="goToPart2()" >Next</button>
                            </div>
                          </div>
                        </div>


                        <div [style.display]="signUpPart2 ? 'block' : 'none'">
                          <div class="form-group row ">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="text" required=" " if="user" placeholder="UserName">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="password" required=" " if="pass" placeholder="Password">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="password" required=" " if="repass" placeholder="Re-type Password">
                              </div>
                          </div>
                          <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                              <button class="btn btn-block btn-lg btn-info " (click)="goToPart3()" >Next</button>
                            </div>
                            <a style="cursor: pointer;" (click)="goToPart1()" >back</a>
                          </div>
                        </div>

                        <div [style.display]="signUpPart3 ? 'block' : 'none'">
                          <div class="form-group row ">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="number" required=" " if="no" placeholder="No">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="text" required=" " if="streetLine1" placeholder="Street Line 1">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="text" required=" " if="streetLine2" placeholder="Street Line 2">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-12 ">
                                  <input class="form-control form-control-lg" type="text" required=" " if="city" placeholder="City">
                              </div>
                          </div>


                          <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                              <button class="btn btn-block btn-lg btn-info " (click)="goToPart4()" >Next</button>
                            </div>
                            <a style="cursor: pointer;" (click)="goToPart2()" >back</a>
                          </div>

                        </div>


                      <div [style.display]="signUpPart4 ? 'block' : 'none'">
                        <div class="form-group row ">
                          <div class="col-12 ">
                            <input class="form-control form-control-lg" type="number" required=" " if="telephoneNo" placeholder="Telephone Number">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-12 ">
                            <input class="form-control form-control-lg" type="number" required=" " if="phoneNo" placeholder="Phone Number">
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-md-12 ">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                            </div>
                          </div>
                        </div>

                        <div class="form-group text-center ">
                          <div class="col-xs-12 p-b-20 ">
                            <button class="btn btn-block btn-lg btn-info " >SIGN UP</button>
                          </div>

                          <a style="cursor: pointer;" (click)="goToPart3()" >back</a>
                        </div>
                      </div>





                      <div class="form-group m-b-0 m-t-10 ">
                            <div class="col-sm-12 text-center ">
                                Already have an account? <a href="#/login " class="text-info m-l-5 "><b>Sign In</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
